version: "3.8"

services:
  mariadb:
    image: mariadb:11
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: Apecxz@101
      MYSQL_DATABASE: default
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypass
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: Apecxz@101
    ports:
      - "8080:80"
    restart: always

volumes:
  mariadb_data:
